Axis Counter Code/lib/Adafruit_BusIO-1.14.5.zip
Axis Counter Code/lib/Adafruit_SSD1306_Wemos_OLED-master.zip
Axis Counter Code/lib/Adafruit-GFX-Library-1.11.9.zip
Axis Counter Code/lib/ESPAsyncTCP-master.zip
Axis Counter Code/lib/ESPAsyncWebServer-master.zip
